*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#080808;
    color:#fff;
}
/*
#header{
    width:100%;
    height:100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;

}

nav{
   display:flex;
   align-items:center;
   justify-content:space-between;
   flex-wrap:wrap;
    position: fixed;
}*/
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   position: fixed;       /* fix navbar */
   top: 0;
   left: 0;
   width: 100%;
   background: #080808;   /* dark bg so text visible */
   padding: 15px 10%;
   z-index: 1000;         /* sabke upar dikhe */
}



#header {
    width: 100%;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 120px;  /* navbar ki height jitna space */
}

 /* jabb navbar fix kiya to headr dhak ja rha tha */
section, 
#about, #services, #portfolio, #contant {
  scroll-margin-top: 100px;  /* navbar height ke barabar */
}

#header {
  padding-top: 80px;  /* navbar height ke hisaab se adjust */
}
 /* end */


.container{
    padding:5px 10%;   
    

}



.logo{
    width:150px;
    height:80px;  
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0 20px;
}

nav ul li a{
       color:#fff;
       text-decoration:none;
       font-size:20px;
       font-weight: 500;
       position:relative;

}

nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#ff5757;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width:100%;
}

.header-text{
    margin-top:20%;
    font-size:30px;
}

.header-text h1{
    font-size:80px;
    margin-top:20px;
}

.header-text h1 span{
    color:#ff5757;
    font-size:90px;
}

/* Typing Effect */
.typing {
  display: inline-block;
  border-right: 3px solid #ff004f; /* blinking cursor */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(20) infinite, blink 0.7s step-end infinite;
}

/* Typing Animation */
@keyframes typing {
  0% { width: 0 }
  50% { width: 23% }
  100% { width: 0 }
}

/* Cursor Blinking */
@keyframes blink {
  50% { border-color: transparent }
}




/*------about----*/

#about{
    padding:80px 0;
    color:#ababab;

}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;

}

.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width:100%;
    height:40vw;
    object-fit:cover;
    object-position: middle;
    border-radius:15%;
}

.about-col-2{
    flex-basis:60%;
}

.sub-title{
    font-size:50px;
    font-weight:600;
    color:#fff;
}

.tab-titles{
    display:flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position: relative;
}

.tab-links:hover{
    color:#fff;


}

.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#ff5757;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;

}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tab-contents ul li span{
     color:#ff5757;
     font-size:14px; 
}

.tab-contents{
    display:none;
    font-size:20px;
}

.tab-contents.active-tab{
    display:block;
}

#about-text::selection{
    color:#fff;
}


/*----My services------------*/

#services{
    padding:30px 0;

}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(259px,1fr));
    grid-gap:40px;
    margin-top:50px;

}

.services-list div{
    background:#262626;
    padding:40px;
    font-size:13px;
    font-weight:300;
    border-radius: 10px;
    transition: 0.5s,transform 0.5s;
    
}

.services-list div i {
    font-size:50px;
    margin-bottom:30px;
}

.services-list div h2{
    font-size:30px;
    font-weight:500;
    margin-bottom:15px;
} 

.services-list div a{
    text-decoration:none;
    color:#fff;
    font-size:15px;
    margin-top:20px; 
    display:inline-block;

}


.services-list div:hover{
    background:#ff5757;
    transform:translateY(-10px);
    color:#fff;


}



/*---------portfolio-----*/

#portfolio{
    padding:50px 0;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(259px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work{
    border-radius:10px;
    position:relative;
    overflow:hidden;

}

.work img{
    width:100%;
    height:350px;
    border-radius:10px;
    display:block;
    /*transition ke liye*/
    transition:transform 0.5s;
}


.layer{
    width:100%;
    height:0;/*yaha height ko 0 kr ke transition  scale ke liye gya hai */
    background: linear-gradient(rgba(0,0,0,0.5),#ff5757);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
   /*yaha height ko lige se krne ke liye effect*/
     transition: height 0.5s;


}

.layer h3{
    font-weight:500;
    margin-bottom:20px;
}

.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration:none;
    font-size:18px;
    line-height:60px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius: 50%;

}

.work:hover{
      transform:scale(1.1);
}

.work:hover .layer{
    height:100%;/*yaha pe height ko bada diya gya */
}

.btn{
    display: block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #ff5757;
    padding:14px 40px;
    border-radius: 6px;
    color:#fff;
    text-decoration: none;
    font-size:20px;
    transition:0.5s;
}

.btn:hover{
    background:#ff5757;
}

/*---------contact-----*/

.contact-left{
    flex-basis:35%;
    margin-top:15px;

}

.contact-right{
    flex-basis:60%;
}

.contact-left p{
    margin-top:40px;
}

.contact-left p i{
    margin-right:15px;
    color:#ff5757;
    font-size:25px;
}

.social-icon{
    margin-top:60px;
}

.social-icon a{
    text-decoration:none;
    margin-right:30px;
    font-size:33px;
    color:#ababab;
    display:inline-block;
    transition:transform 0.5s;
}

.social-icon a:hover{
    color:#ff5757;
    transform:translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background:#ff5757;
    margin-top:60px;
}


.contact-right form{
    width:60%;   
}

form input ,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size:18px;
    border-radius:6px;
}

.btn.btn2.btn3{
    margin-top:10px;
    font-size:15px;
    padding: 10px 20px ;
    cursor: pointer;
}

.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:#262626;
    font-weight:300;
    margin-top:20px;
}

.copyright i{
    color:red;
}

nav .fa-solid{
    display:none;
}


/*---------------------css for small screen------*/

@media only screen and (max-width:600px){
    #header{
      
        background-image:url(image/phone-background.jpg);        
    }
    .container{
        padding-top:10px;
        padding-bottom:5px;

        padding-left:10%;  
    
    }

    .header-text{
        margin-top:25%;
        font-size:16px;
    }
    
    .header-text h1{
        font-size:30px;
       
    }
    nav .fa-solid{
        display:block;
        font-size:40px;
        padding-right:10px;
    }

    nav ul{
        background:#ff5757;
        position:fixed;
        top:0;
        right:-200px;/*yaha pe -200px yis liye kiya jaya oreng wla ko hide krne ke liye */
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index: 2;

        transition:right 0.5s;
    }

    nav ul li{
        display:block;
        margin:25px;

    }
    nav ul .fa-solid{
        position:absolute;
        cursor: pointer;
        top:25px;
        left:25px;
    }
    .header-text h1 span{
        font-size:70px;
    }
    .header-text h1{        
       margin-top:30px;
    }

    .sub-title{
        font-size:40px;
    }
    .about-col-1 img{
        width:80%;
        height:50vh;
       padding-left:50px;
    }
    .about-col-1,.about-col-2{
        flex-basis:100%;
    }
    .about-col-1{
        margin-bottom:30px;
    }

    .about-col-2{
        font-size:10px;
    }

    .tab-link{
        font-size:16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis:100%;
    }
    .social-icon a{ 
        margin-right:20px;
        
    }

    .copyright{
        width:100%;
        text-align:center;
        padding:25px 0;
        
        font-weight:300;
        
    }
    

    
}

#msg{
    color:#61b752;
    margin-top:-40px;
    display:block;
}


